.levels__wrapper {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 300px;

  @media only screen and (max-width: 425px)  {
    width: 50%;
  }
}

.level-dot__wrapper {
  height: 48px;
  min-width: 48px;
  background-color: rgb(85, 85, 85);
  border-radius: 50%;
  cursor: pointer;
}
