* {
  padding: 0;
  margin: 0;
}

html,
#root,
body {
  height: 100%;
}
.body {
  font-family: "Roboto", sans-serif;
}

.body_wrapper {
  background-color: #dff6fd;
  min-height: 100%;
}

.instructions {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: 100;
  color: #555555;
}

.body_wrapper {
  display: flex;
  flex-direction: column;
}

.body_wrapper .info-icon {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  height: 48px;
  width: 48px;
  color: #55555588;
  cursor: pointer;

  @media only screen and (max-width: 768px)  {
    position: initial;
  }
}

#howToPlay {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: #dff6fd;
  display: flex;
  flex-direction: column;
}

.instraction-list {
  margin-top: 50px;
  /* padding-left: 50px; */
  color: #555555;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 2em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 100px;
  padding-right: 40px;
}

#howToPlay li {
  margin-bottom: 1em;
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

.how-toplay__header {
  padding-top: 20px;
  font-size: 1.5em;
  width: 100%;
  color: #555555;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
